h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}

body {
    color: pink;
}
#jordan {
    background-color: red;
    width: 200px;

    color: #A87F39;
    font-family: 'Qwitcher Grypen';
    font-size: 201px;
    text-align: center;

}